<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Contact Pro Manager</title>
</head>
<body>
  <% if (session && session.user) { %>
    <p>Connecté en tant que <strong><%= session.user.firstName %></strong> | 
       <a href="/logout">Déconnexion</a>
    </p>
    <hr>
  <% } %>

  <!-- Affiche le contenu de la page -->
  <%- body %>
</body>
</html>
